:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  display: grid;
  /*grid-gap: 1em;*/
  grid-template-rows: repeat(var(--grid-rows), 99px);
  grid-template-columns: repeat(var(--grid-cols), 130px);
}

.grid-item {
  /*padding: 1em;*/
  /*min-width: 10%;
  min-height: 10%;*/
  /*border: 1px solid #ddd;*/
  text-align: center;
}