:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  grid-template-rows: repeat(var(--grid-rows), 99px);
  grid-template-columns: repeat(var(--grid-cols), 130px);
}

.grid-item {
}

#entirety{
  display: flex;
}

#gameParent{
  position: relative;
  max-width: 100%;
  height: auto;
}

#dice{

}